### Dispersion

**In statistics, dispersion refers to the amount of variability or spread in a set of data. Measures of dispersion are used to describe how much the values in a dataset differ from each other. Here are some common measures of dispersion:**

1. Range: The range is the difference between the largest and smallest values in a dataset. It is a simple measure of dispersion, but it can be affected by extreme values.

2. Variance: The variance measures how much the values in a dataset vary from the mean. It is calculated by taking the sum of the squared differences between each value and the mean, and dividing by the number of values in the dataset. The square root of the variance is the standard deviation.

3. Standard deviation: The standard deviation is a measure of how much the values in a dataset deviate from the mean. It is calculated by taking the square root of the variance.

4. Interquartile range (IQR): The IQR is the range of the middle 50% of the values in a dataset. It is calculated by subtracting the 25th percentile (lower quartile) from the 75th percentile (upper quartile).

5. Mean absolute deviation (MAD): The MAD measures the average absolute difference between each value in a dataset and the mean. It is calculated by taking the sum of the absolute differences between each value and the mean, and dividing by the number of values in the dataset.

In [14]:
age=[23,43,23,56,74,32,68,98,45,32]

In [15]:
import numpy as np

In [16]:
np.mean(age)

49.4

In [17]:
np.var(age)

541.64

In [18]:
np.std(age)

23.273160507331188

In [19]:
import pandas as pd

In [20]:
d=[[10,12,13],[34,23,45],[32,34,21]]

In [21]:
df = pd.DataFrame(d,columns=["A","B","C"])

In [22]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [23]:
## Column wise
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [24]:
## Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64